@model IEnumerable<FrontKFHShortcuts.Models.Request.RequestResponse>

<h2>Requests</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Employee Name</th>
            <th>Client Name</th>
            <th>Product Title</th>
            <th>Number Of Points</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr>
                <td>@request.Id</td>
                <td>@request.EmployeeName</td>
                <td>@request.ClientName</td>
                <td>@request.ProductTitle</td>
                <td>@request.NumberOfPoints</td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
