@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

@model FrontKFHShortcuts.Models.LogIn.LogInRequest
@{
    ViewBag.Title = "Login";
}

<div class="container" style="height: 100vh; display: flex; justify-content: center; align-items: start;">
    <div class="card" style="width: 20rem; padding: 2rem; margin-top: 60px;">
        <h2 class="text-center">Sign In</h2>
        @using (Html.BeginForm("Login", "LogIn", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label for="Email">Email</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "email", placeholder = "Enter your email" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="Password">Password</label>
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter your password" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div><button type="submit" class="btn btn-primary btn-block" style="background-color: #008930">Sign In</button></div>
            <div class="text-center mt-2">
                <a href="#">Forgot Password?</a>
            </div>
        }
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa;
    }

    .card {
        border: none;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
</style>