@model IEnumerable<FrontKFHShortcuts.Models.Reward.RewardResponse>

@{
    ViewBag.Title = "Reward List";
}

<style>
    .btn-intense-red {
        background-color: #ff0000;
        border-color: #cc0000;
        color: white;
    }

        .btn-intense-red:hover {
            background-color: #cc0000;
            border-color: #990000;
        }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">Rewards</h4>
                    </div>
                    <div class="header-action">

                        <a href="/Reward/Create" class="btn btn-primary" style="background-color: #008930">+ Add Reward</a>

                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Required Points
                                    </th>
                                    <th>
                                        Usage
                                    </th>
                                    <th>
                                        Due Date
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RequiredPoints)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Usages)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DueDate)
                                        </td>
                                        <td>

                                            <a href="@Url.Action("Edit", "Reward", item)" class="btn btn-primary" style="background-color: #008930">✎</a>
                                            <a href="@Url.Action("Delete", "Reward", item)" class="btn btn-danger" style="background-color: #dc3545">✖</a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-between mt-3">
                        <div class="col-md-6">
                            <span>Showing @Model.Count() entries</span>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .btn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
</style>
</div>
